@use 'mixins';
.heading {
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
}
h2 {
    @include title;
}
.about .content h4 {
    @include title-sm;
}
.about .content p {
    font-weight: 200;
    width: 85%;
}
.heading span {
    color: $brown;
    text-transform: uppercase;
}
.about {
    margin-top: 40px;
    padding-top: 30px;
}
.about .content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    justify-content: center;
    background-color: $grey;
}
.about .content .btn {
    margin-top: 20px;
    @include mybtn;
}
.about .content .btn:hover {
    @include mybtnhover;
}
.about .row .image {    
    display: flex;
    flex-direction: row;
}
.about .row .image img {
    width: 50%;
}
@media (max-width:768px) {

    .about .content p {
        font-size: 12px;
        width: 100%;
    }
}



