.contact {
    margin-top: 40px;
    padding-top: 30px;
}
.contact .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.contact .row img {
    height: 400px;
    opacity: 50%;
}
.contact .row form {
    align-items: center;
    padding: 20px;
    text-align: center;
    min-width: 500px;
}
.contact .row form h3 {
    text-transform: uppercase;
}
.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1.2px solid rgb(46, 46, 46);  
}
.contact .row form .inputBox span {
    color: $brown;
}
.contact .row form .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    text-transform: none;
    background: none;
}
input[type=submit] {
    @include mybtn;
    float: right;
}
input[type=submit]:hover {
    @include mybtnhover;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width:450px) {
    .contact .row img {
        width: 100%;
    }
    .contact .row {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .contact .row form {
        display: flex;
        flex-direction: column;
    }
    .contact .row form .inputBox {
        min-width: 350px;
    }

}