.footer {
    margin-top: 40px;
    padding-top: 30px;
    background-color: $grey;
    text-align: center;
}
.footer .logo img {
    max-height: 40px;
    border-radius: 50%;
    border: 1px solid $white;
    padding: 6px;
}
.footer__logo h4 {
    color: $brown;
}
.footer .share {
    padding: 10px;
}
.footer .share a {
    height: 30px;
    width: 30px;
    line-height: 1.8;
    text-align: center;
    border-radius: 50%;
    border: 0.4px solid $white;
    margin-right: 10px;
    margin-top: 5px;
}
.footer .share a:hover {
    transform: scale(1.1);
}
.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    margin-bottom: 15px;
    color: $brown;
}
.footer .links a {
    padding: 10px;
    font-weight: 200;
    color: $brown;
}
.footer .links a:hover {
    color: $white;
}
.footer .copyright p {
    font-weight: 200;
    font-size: 12px;
    padding-bottom: 20px;
}
