.menu {
    margin-top: 40px;
    padding-top: 30px;
}
.menu .box-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
}
.menu .box-container .box  {
    padding: 20px;
    text-align: center;
    border: 1.2px solid rgb(46, 46, 46);  
    background-color: $grey;
}
.menu .box-container .box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1.5px solid $white;
    margin-bottom: 15px;
}
.menu .box-container .box img:hover {
    transform: scale(1.1);
}

.menu .box-container .box .btn {
    @include mybtn;
}
.menu .box-container .box h3 {
    font-weight: 300;
    margin-bottom: 10px;
}
.menu .box-container .box .price {
    font-weight: 200;
    margin-bottom: 15px;
}
.menu .box-container .box .btn:hover {
    @include mybtnhover;
}


