.reviews {
    margin-top: 40px;
    padding-top: 30px;
}
.reviews .box-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
}
.reviews .box-container .box {
    border: 1.2px solid rgb(46, 46, 46);  
    padding: 20px;
    text-align: center;
}
.reviews .box-container .box p {
    font-size: 15px;
    padding: 10px;
    line-height: 1.8;
}
.reviews .box-container .box .user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.reviews .box-container .box h3 {
    padding: 10px;
    font-size: 20px;
}
.reviews .box-container .box .stars i {
    color: $brown;
}
.reviews .box-container .fa-quote-right {
    font-size: 40px;
    color: $brown;
}
@media (max-width:768px) {
    .reviews .box-container {
        grid-template-columns: repeat(1, 300px);
    }
}


