@import 'fonts';
@import 'colors';
@import 'header';
@import 'mixins';
@import 'media';
@import 'home';


* {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: $white;
    text-decoration: none;
    transition: .2s linear;
}
html {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    overflow-x: hidden;
    scroll-padding-top: 10px;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 10px;
}
body {
    background: $dark;
    overflow: hidden; 
}
